.topblock_3 {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 28px;
}

.slide_3 {
    width: 1170px;
    margin: 20px auto 0 auto;
}

.comment {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.comment__item {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #E2E2E2;
    background-color: #E2E2E2;
    border-radius: 10px;
    width: 370px;
    height: 180px;
}

.triangle {
    position: relative;
    display: flex;
}

.triangle__down_1, .triangle__down_2, .triangle__down_3{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 25px solid #E2E2E2;
}

.triangle__down_1 {
    margin-left: 80px;
}

.triangle__down_2 {
    margin-left: 360px;
}


.triangle__down_3 {
    margin-left: 360px;
}

.names {
    position: relative;
    display: flex;
    margin-left: 10px;
}

.names__item_1, .names__item_2, .names__item_3 {
    margin-top: 50px;
    display: flex;
    align-items: start;
}

.names__item_2 {
    margin-left: 100px;
}

.names__item_3 {
    margin-left: 155px;
}

.name {
    margin-bottom: 120px;
    margin-left: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
}

.job {
    display: flex;
    justify-content: left;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.job__item_1, .job__item_2, .job__item_3 {
    margin-top: -115px;
    margin-left: 110px;
}

.job__item_2 {
    margin-left: 330px;
}

.job__item_3 {
    margin-left: 333px;
}

.points {
    display: none;
}


@media (max-width: 1024px) {
    .topblock_3 {
        width: 1024px;
        font-size: 24px;
    }

    .slide_3 {
        width: 992px;
        margin: 0 16px;
    }

    .comment {
        margin-top: 60px;
    }

    .comment__item {
        font-size: 14px;
        line-height: 16px;
        width: 317px;
    }

    .triangle__down_1 {
        margin-left: 60px;
    }

    .triangle__down_2 {
        margin-left: 300px;
    }


    .triangle__down_3 {
        margin-left: 300px;
    }

    .names__item_1, .names__item_2, .names__item_3 {
        margin-top: 46px;
        display: flex;
    }

    .names__item_2 {
        margin-left: 70px;
    }

    .names__item_3 {
        margin-left: 115px;
    }

    .name {
        margin-bottom: 140px;
        margin-left: 30px;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        line-height: 33px;
        font-weight: 700;
    }

    .job {
        display: flex;
        justify-content: left;
        font-family: Raleway, sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

    .job__item_1, .job__item_2, .job__item_3 {
        margin-top: -125px;
        margin-left: 110px;
    }

    .job__item_2 {
        margin-left: 280px;
    }

    .job__item_3 {
        margin-left: 280px;
    }

    .points {
        display: none;
    }
}


@media (max-width: 320px) {

    .slide_3 {
        width: 320px;
        margin: 0 auto;
    }

    .topblock_3 {
        width: 288px;
        font-size: 24px;
        padding-top: 20px;
    }

    .comment {
        display: flex;
        justify-content: center;
    }

    .comment__item:first-child {
        display: none;
    }

    .comment__item:nth-child(2) {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        height: 180px;
    }

    .comment__item:last-child {
        display: none;
    }

    .triangle {
        position: relative;
        display: flex;
    }

    .triangle__down_2 {
        margin-left: 80px;
    }

    .triangle__down_1, .triangle__down_3 {
        display: none;
    }

    .names {
        position: relative;
        display: flex;
        margin-bottom: -60px;
    }

   .names__item_2 {
        margin: 0;
        display: flex;
       padding-top: 40px;
       padding-left: 10px;
    }

    .names__item_1, .names__item_3 {
        display: none;
    }

    .name {
        margin-top: 20px;
        font-size: 14px;
        line-height: 16px;
    }

    .job {
        font-size: 13px;
    }

    .job__item_2 {
        margin-left: 120px;
        padding-top: 70px;
    }

    .job__item_1, .job__item_3 {
        display: none;
    }

    .points {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 80px 40px 80px;
    }

    .radio_button {
        border: 1px solid #86878B;
        color: #86878B;
    }
}
