.content {
    width: 1170px;
    margin: 0 auto;
    padding-top: 109px;
}

.tabs {
    margin: 0 0 50px 0;
}

.tabs__items {
    display: flex;
}

.tabs__item {
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 0 70px;
    text-decoration: none;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    text-align: center;
}

.tabs__block {
    display: block;
    position: relative;
    border: 1px solid #C6CBCD;
    height: 498px;
}

#tab_01 {
     border: 1px solid #C6CBCD;
     position: relative;
     height: 50px;
     border-bottom: 2px solid white;
     top: 1px;
     z-index: 2;
    outline: none;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 41px;
    padding-top: 20px;
    padding-left: 100px;
}

.tabs_image {
}

.liberty {
    float: right;
    margin-top: -122px;
    margin-right: -2px;
    padding-left: 30px;
}

p {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    text-align: left;
    padding: 40px 20px 0 50px;
    line-height: 21px;
    font-weight: normal;
}

.button_1 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    align-items: center;
    text-align: center;
    padding: 18px 80px;
    margin-left: 50px;
    color: white;
    background: #EC7979;
    border: none;
    cursor: pointer;
}

.button_1:hover {
    box-shadow:0 0 10px #000;
}



@media (max-width: 1024px) {

    .content {
        width: 992px;
        margin: 0 auto;
        margin-top: -200px;
    }

    .tabs {
        margin: 0 16px 50px 16px;
    }

    .tabs__item {
        height: 40px;
        font-size: 14px;
    }

    .tabs__block {
        height: 386px;
    }

    #tab_01 {
        height: 40px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
        padding-top: 11px;
        padding-left: 84px;
    }

    p {
        font-size: 14px;
        padding: 30px 20px 0 84px;
        line-height: 16px;
    }

    .button_1 {
        font-size: 14px;
        padding: 14px 60px;
        margin-top: 20px;
        margin-left: 80px;
    }

    .liberty {
        width: 38%;
        padding-top: 30px;
    }
}


@media (max-width:320px) {
    .content {
        width: 320px;
        margin: -70px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .tabs__items {
        display: flex;
        width: 152px;
        align-items: center;
    }

    .tabs__item {
        height: 15px;
        width: 38px;
        text-align: center;
        font-size: 14px;
        padding: 5px 38px;
    }

    .tabs__block {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        height: 431px;
        width: 288px;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
        display: flex;
        text-align: center;
        padding: 20px 0 20px 0;
    }

    .liberty {
      display: none;
    }

    p {
        font-size: 13px;
        text-align: center;
        line-height: 15px;
        width: 242px;
        padding: 0 0 29px 0;
    }

    .button_1 {
      width: 242px;
        height: 50px;
        margin: 0;

    }

}

